 {{#with data}}
 <div class="card">
               <div class="card-header">
                   {{name}}
               </div>
               <div class="card-body">
                <ul class="card_block">
                  <li class="card_price_amount">${{price}}</li>
                  <li class="card_price_duration">/ mo</li>
                </ul>
                <div class="card_block">
                  {{#each features}}
                  <span class="card_description_item">{{this}}</span>
                  {{/each}}
                </div>
                <div class="card_block">
                   <button class="btn {{#if @first}}btn-outline-primary{{else}}btn-primary{{/if}} card_button">{{button}}</button>
                </div>
               </div>
            </div>
            {{/with}}